
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
  background-color: #000000 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-brand {
  font-family: 'Bungee Inline', cursive;
}
.brandDonut{
  display:flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
}
.brandDonut >  h1 {
    font-size: 5rem;
    margin-top:1rem;
    font-family: 'Bungee Inline', cursive;
}
body {
  background-color:#000117;
}
input {
  border-radius: 0;
}
.btn {
  border-radius: 0;
  margin:0.2rem;
}
