
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
  background-color: #000000 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.brandDonut{
  display:flex;
  justify-content:center;
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
}
.brandDonut >  h1 {
    font-family: 'Bungee Inline', cursive;
    font-size: 5rem;
    margin:2rem;
}
.donutImg {
  max-width: 20%;
  max-height: 8rem;
}

.donutImg {
  animation: App-logo-spin infinite 13s linear;
  height: 40vmin;
  pointer-events: none;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color:#000117;
}

.btn {
  border-radius:0;
  margin: 0.2rem;
}